html, body {
	font-family: Arial, Verdana, sans-serif;
}

form {
	display: inline-block;
	width: auto;
}

.input-field {
	display: block;
}

.input-playfield-wall {
	color: transparent;
	background-color: #3498db;
}

.input-field,
.input-playfield,
.input-playfield-wall,
.input-playfield-exit,
.input-playfield-car {
	width: 20px;
	height: 20px;
	border: 1px solid #3498db;
	text-align: center;
}

.input-playfield-car {
	color: white;
	border-color: #c0392b;
	background-color: #e74c3c;
}

.input-playfield-exit {
	color: white;
	border-color: #27ae60;
	background-color: #2ecc71;
}

textarea.input-field {
	width: 150px;
	height: 150px;
}

.input-submit {
	display: block;
	padding: 5px;
	border: none;
}

.divider {
	display: block;
	width: 100%;
	margin: 10px 0;
	border: 1px solid #3498db;
}

.row {
	margin: 5px 0;
}

.playfield, .playfield-instructions {
	display: inline-block;
	vertical-align: text-top;
}

.playfield-instructions {
	margin-left: 10px;
}

.header {
	display: block;
	font-size: 1.25rem;
	font-weight: bold;
}

.line {
	display: block;
}

.line:before {
	content: "- ";
}

.playfield-form {
	display: inline-block;
}

.spot {
	display: inline-block;
	text-align: center;
	width: 15px;
}